<h3>スケジュール編集</h3>

<%= render "shared/error",obj:@schedule %>

<%= form_with model:@schedule do |f| %>
<div class="schedule_form">
  <table>
      <tr>
          <th>タイトル</th>
          <td><%= f.text_field :title,class:'schedule_input' %></td>
      </tr>
      <tr>
          <th>開始日</th>
          <td><%= f.date_field :start,class:'schedule_input'  %></td>
      </tr>
      <tr>
          <th>終了日</th>
          <td><%= f.date_field :end ,class:'schedule_input'%></td>
      </tr>
      <tr>
          <th>終日</th>
          <td class="schedule_check">
              <%= f.check_box :period %>
              終日の場合はチェックを入れます
          </td>
      </tr>
      <tr>
          <th>スケジュールメモ</th>
          <td><%= f.text_area :memo %></td>
      </tr>
  </table>
  <%= f.submit"スケジュールの編集を完了する",class:"schedule_submit tag" %>
  <%= link_to "スケジュール一覧に戻る",:schedules, class:"link tag edit_link" %>
</div>
  
<% end %>

    