
<div class="main_container">
  <h3>スケジュール一覧</h3>
    <table>
      <thead>
        <tr>
          <th>ID</th> 
          <th>タイトル</th> 
          <th>開始日</th> 
          <th>終了日</th>
          <th>終日</th> 
          <th>スケジュール更新日時</th> 
        </tr>  
      </thead> 
      
      <tbody> 
        <% @schedules.each do |schedule| %>     
          <tr>
            <td><%= schedule.id %></td> 
            <td><%= schedule.title %></td> 
            <td><%= schedule.start %></td> 
            <td><%= schedule.end %></td> 
            <td><%= schedule.period %></td> 
            <td><%= schedule.updated_at %></td> 
          </tr>
         <% end %>   
      </tbody>   
      
    </table>

  <p><%= link_to"スケージュール新規登録",:new_schedule,class:"schedule-create"%></p>

</div>

