<h3>スケジュール新規作成</h3>

<%= form_with model: @schedule do |f| %>
  <table>
    <tr>
      <th>名前</th>
      <td><%= f.text_field :title %></td>
    </tr>  
    <tr>
      <th>開始日</th>
      <td><%= f.datetime_field :start %></td>
    </tr>  
    <tr>
      <th>終了日</th>
      <td><%= f.datetime_field :end %></td>
    </tr>  
    <tr>
      <th>終日</th>
      <td><%= check_box_tag :period %>
　　　　　<%= label_tag :period, "終日の場合はチェックを入れてください" %>
　　　</td>
    </tr>  
    <tr>
      <th>スケジュールメモ</th>
      <td></td>
    </tr>  
    
  </table>
<%= f.submit "登録完了する" %>
<%= link_to "スケジュール一覧に戻る",:schedules,class:schedule_index %>
<% end %>